<!DOCTYPE html>
<html>
	<% include ../header %>

	<body>
		<link href="/public/stylesheets/style.css" rel="stylesheet" type="text/css" />
    	<% include ../erros/f_erro %>
		<form action="/vetores" method="post">
			<label>Nome: </label><input type="text" name="calculo[nome]" placeholder="O nome..."/>
			<br/>
			
			<label>Descrição: </label><input type="text" name="calculo[descricao]" placeholder="Uma breve descrição..."/>
			<br/>
			<button type="submit">Criar</button>
		</form>


		<% include ../footer %>
	</body>
</html>