<!DOCTYPE html>
<html>
	<% include ../header %>

	<body>
		<header>
			<h1>Vet3D</h1>
			<h4>Nãããooooo!!!</h4>
		</header>
		<section>
			Parece que você está perdido... 
			<br/>Que tal voltar à <a href="/">página inicial</a>?
		</section>
		<% include ../footer %>
	</body>
</html>